<center><div style="width:500px" >
  <div class="form-group">
    <input type="text" name="firstname" id="firstname" ng-model="sfirstname" tabindex="1" class="form-control" placeholder="firstname" value="">
  </div>
  <div class="form-group">
    <input type="text" name="lastname" id="lasttname" ng-model="lastname" tabindex="1" class="form-control" placeholder="lastname" value="">
  </div>
  <div class="form-group">
    <input type="email" name="email" id="email" tabindex="1" ng-model="email" class="form-control" placeholder="Email Address" value="">
  </div>
  <div class="form-group">
    <input type="password" name="password" id="password" ng-model="password" tabindex="2" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <input type="submit" class="form-control btn btn-success" value="Register Now" ng-click="signup()">
      </div>
    </div>
  </div>

</div>
</center>
